@import "./base.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";/*pour card*/
#app {
    max-width: 1280px;
    margin: 0 auto;
  padding: 0 auto;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
   color: blueviolet;
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
    place-items: center;
  }

  #app {
    display: block;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
